__pycache__/
.ruff_cache/
*.py[oc]
/build
/dist
wheels/
*.egg-info
.venv
*.iml
.gradle
/local.properties
/.claude/
/.idea/
/.kotlin/
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties

stubs/
